.indent-20px {
    margin-left: 20px;
}

.indent-40px {
    margin-left: 40px;
}

span {
    color: blue;
}

.structure-pages-code {
border: 1px solid black;
width: 35%;
padding: 1%;
}

.structure-pages-result {
    border: 1px solid black;
    width: 35%;
    padding: 1%;
    float: right;
}